<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
   
  <body>

  {{>nav}}
  {{#global.team}}
  <section class="hero-wrap hero-wrap-2" style="background-image: url('{{image}}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Meet The Team</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Team <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section bg-light text-center">
     <div class="row">
               {{#parents}}
                     <div class="text-center col-md-6">
                        <div class="user-img mb-4" style="background-image: url({{image}})">
                        </div>
                         <div class="text p-3">
                           <h4 class="name">{{name}}</h4>
                            <p class="quote mb-4">"{{quote}}"</p>
                        </div>
                    </div>
               {{/parents}}
               {{#kids}}
               <div class="text-center col-md-4">
                        <div class="user-img mb-4" style="background-image: url({{image}})">
                        </div>
                         <div class="text p-3">
                            <h4 class="name">{{name}}</h4>
                            <p class="quote mb-4">"{{quote}}"</p>
                        </div>
                    </div>
               {{/kids}}
    </div>

    </section>
{{/global.team}}
  </body>

  {{>footer}}

  {{>scripts}}

  </html>